@model IEnumerable<SalesTracker.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nova Visita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Present)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Present)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VisitId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
