@model IEnumerable<SalesTracker.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCrop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryCrop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller.FirstName)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCrop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryCrop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a>
            </td>
            <td>
            <a asp-action="Details" asp-route-id="@item.ClientId">Details</a>
            </td>
            <td>
            <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
